.wrap {
    width: 640px;
    margin: 0 auto;
}
.d-flex {
    display: flex;
}
.mx-20 {
    margin: 0 20px;
}
.mb-24 {
    margin-bottom: 24px;
}
h2 {
    font-size: 20px;
    line-height: 1.2;
}
p {
    font-size: 16px;
    line-height: 1.5;
}
.footer {
    padding: 48px 0;
    outline: solid 1px;
    text-align: center;
}